.userProfile {
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  overflow: hidden;
  margin: 0 auto;
}
img {
  max-width: 200px;
}
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #555;
}

.button {
  background-color: #2039d0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.button:hover {
  background-color: #57c72f;
}
