.content{
    text-align: center;
}
h1{
    font-size: 64px;
    line-height: 76px;

}
p{
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    margin: 32px auto;
}
.logo{
    margin: 10px 10px;
    fill: #1ED760;

}
.logo:hover{
    transform: translate(0px, -10px);
    fill: #1181F1;

}

.menuBar{
    padding: 25px 50px;
    border: 3px solid #1ED760;
    border-radius: 65px;
    width: fit-content;
    margin: 0 auto;

}